.header {
	
	width: 100%;
	text-align: center;
	background: $primary;
	color: $white;
	padding-top: 55px;
	
	.header__logo {
		font-size: 3.5em;
	}
	.header__sub {
		color: $secondary;
		font-size: 1.5em;
	}

	&.header--main {
		position: fixed;
		height: 200px;
		top: 0;
		z-index: -100;
		background: $test;
	}

	&.header--small {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-bottom: 10px;

		.header__logo{
			font-size: 3em;
		}
	}
}

.wrapper {
	&.wrapper--header{
		padding-top: 50px;
	}
}