$text: rgba(0, 0, 0, 1);
$primary: rgba(26, 56, 86, 1);
$secondary: rgba(4, 110, 143, 1);
$offWhite: rgba(238, 240, 242, 1);
$white: rgba(255, 255, 255, 1);

@import
"stylesheets/reset",
"components/card/card",
"components/button/button",
"components/header",
"components/tabs/tabs",
"components/reveal-block",
"components/image-gallery/image-gallery";

.content-main{
	position: relative;
	max-width: 64em;
	margin: 0 auto;
	padding: 0 1.25em;
	background: $offWhite;
}

.rhythm > * + * {
	margin-top: 1em;
}

.layout-frame-wrapper {
	overflow: hidden;
	width: 100%;
	min-height: 18.75em;

	@media (min-width: 1000px) {
		& > * { 
			float: left;
			margin-top: 0em;
			&:nth-child(1) {width: 23%;}
			&:nth-child(2) {width: 46%;}
			&:nth-child(3) {width: 23%;}
		}
		& > * + * {
			margin-left: 4%;
		}
	}
}

.grid {
	width: 100%;
	overflow: hidden;
	.grid-sizer,
	.grid-item {
		float: left;		
	}
	.grid-item { 
		img {
			width: 100%;
		}
	}

	&.grid--header{
		background: white;
		.grid-sizer,
		.grid-item {
		
			width: 25%;
			@media (max-width: 1000px) {
				width: 50%;
			}
		}
	}
	&.grid--body{
		background: white;
		.grid-sizer,
		.grid-item {
			width: 33.3%;

			@media (max-width: 1000px) {
				width: 50%;
			}
		}
	}
}




.layout-sidebyside {
	overflow: hidden;
	width: 100%;
	min-width: 100px;
	min-height: 18.75em;

	@media (min-width: 1000px) {
		& > * { 
			float: left;
			margin-top: 0em;
			width: 48%;
		}
		& > * + * {
			margin-left: 4%;
		}
	}
}

